/* style.css */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    margin-top: 2%;
    font-family: 'Poppins', sans-serif;
    text-align: center;

}


table th, table td {
    padding: 8px 12px;
    text-align: left;
    margin: 2% 22%;
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;


}
#standar{
    width:120px;
}

table th {
    background-color: #fff;
    
}

table tr:nth-child(even) {
    background-color: #fff;
}

table tr:hover {
    background: rgba(227, 233, 255, 0.75);
}

table td a {
    text-decoration: none;
    color: #007bff;
}

table td a:hover {
    text-decoration: underline;
}
.text-laporan{
    font-size: 25px;
    font-weight: bold;
    padding-top: 2%;
    color: black;
    display: block;
    margin-bottom: 1%;
}
.tabel{
    width: 70%;
    margin-left: 25%;
}
#filter{
    
    background-color: #6477DB;
    color: #fff;
    padding: 10px 20px;
    border: none;
    height: 5vh;
    border-radius: 5px;
    cursor: pointer;
}
#filter:hover{
    background: rgba(227, 233, 255, 0.75);
    color: #007bff;

}
/* Tombol Edit */
.edit-button {
    background-color: green;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 10px;
}

/* Tombol Hapus */
.hapus-button {
    font-size: 10px;
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 2%;


}
